<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Products Management" verbose="1" >

    <test name="Auth [Chrome]" >
        <parameter name="browser" value="chrome"></parameter>
        <classes>
        <class name="task1.tests.Auth"></class>
        </classes>


</test>


</suite>